<div class="container mt-5">
  <h1 class="text-center text-primary">{{ 'ANMELDEN' | translate }}</h1>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">{{ 'EMAIL' | translate }}</label>
      <input type="email" class="form-control" id="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{ 'PASSWORT' | translate }}</label>
      <input type="password" class="form-control" id="password" placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}">
    </div>
    <button type="submit" class="btn btn-primary w-100">{{ 'ANMELDEN_BUTTON' | translate }}</button>
  </form>
</div>