<div class="container mt-5">
  <h1 class="text-center mb-4">{{ 'ABOUT_US_TITLE' | translate }}</h1>

  <p class="text-center lead">{{ 'ABOUT_US_INTRO' | translate }}</p>

  <div class="row justify-content-center my-5">
    <div class="col-md-4 text-center">
      <button class="btn btn-success btn-lg" (click)="navigateToVermieter()">
        {{ 'CHECKLIST_LANDLORD' | translate }}
      </button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-primary btn-lg" (click)="navigateToMieter()">
        {{ 'CHECKLIST_TENANT' | translate }}
      </button>
    </div>
  </div>

  <div class="text-center my-4">
    <p>{{ 'CONTACT_INFO' | translate }}</p>
    <button class="btn btn-info" (click)="navigateToKontakt()">
      {{ 'CONTACT_BUTTON' | translate }}
    </button>
  </div>
</div>
