.container {
  max-width: 800px;
}

h1 {
  font-weight: bold;
  color: #007bff; /* Plattform-Blau */
}

.btn-lg {
  padding: 15px 25px;
  font-size: 1.2rem;
}

button {
  margin-top: 20px;
}

.btn-info {
  background-color:#007bff; /* Plattform-Blau */
  border-color: #007bff;
}

.btn-info:hover {
  background-color: #0056b3; /* Dunkleres Blau beim Hover */
  border-color: #0056b3;
}
