<main class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 fw-bold text-primary">{{ 'WILLKOMMEN' | translate }}</h1>
    <h2 class="text-success fw-light mb-4">{{ 'WELCOME_TEXT' | translate }}</h2>
    <p class="lead">{{ 'DESCRIPTION' | translate }}</p>

    <ul class="list-unstyled text-center mx-auto" style="max-width: 900px;">
      <li class="mb-2">
        <i class="bi bi-house-fill text-primary"></i> {{ 'LIST_ITEM_1' | translate }}
      </li>
      <li class="mb-2">
        <i class="bi bi-calendar-check-fill text-primary"></i> {{ 'LIST_ITEM_2' | translate }}
      </li>
      <li class="mb-2">
        <i class="bi bi-file-earmark-text-fill text-primary"></i> {{ 'LIST_ITEM_3' | translate }}
      </li>
      <li class="mb-2">
        <i class="bi bi-people-fill text-primary"></i> {{ 'LIST_ITEM_4' | translate }}
      </li>
    </ul>

    <p class="text-muted">{{ 'FINAL_TEXT' | translate }}</p>

    <!-- Jetzt registrieren Button -->
    <a routerLink="/anmeldung" class="btn btn-primary btn-lg mt-3 shadow">{{ 'REGISTER_BUTTON' | translate }}</a>

    <!-- Bild -->
    <div id="map" class="image-box">
      <img src="assets/images/wohnplattform.jpg" alt="Wohnplattform Bild">
    </div>
  </div>
</main>

<footer class="text-center bg-dark text-light py-4">
  <p class="mb-0"> {{ 'FOOTER_TEXT' | translate }}</p>
</footer>
